.blog-list-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(233.33333333333337, 47.37%, 96.27%, 1.00);
}

.blog-list-block {
  width: 90%;
  margin-top: 0px;
  padding: 15px;
  background-color: hsla(233.33333333333337, 47.37%, 96.27%, 1.00);
}

.blog-list-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 475px;
  margin-top: 0px;
  padding-top: 75px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(199.99999999999997, 19.35%, 12.16%, 0.60)), to(hsla(199.99999999999997, 19.35%, 12.16%, 0.60))), url('../images/reactjs-crane.png');
  background-image: linear-gradient(180deg, hsla(199.99999999999997, 19.35%, 12.16%, 0.60), hsla(199.99999999999997, 19.35%, 12.16%, 0.60)), url('../images/reactjs-crane.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  box-shadow: inset 0 0 20px 1px #000;
}

.blog-list-hero-heading {
  margin-top: 0px;
  font-family: 'Proxima nova', sans-serif;
  color: hsla(233.33333333333337, 47.37%, 96.27%, 1.00);
  font-size: 41px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0 6px 10px #000;
}

.category-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.post-info {
  margin-bottom: 0px;
  padding: 5px;
  color: hsla(230.4, 33.33%, 14.71%, 1.00);
  font-size: 14px;
  font-weight: 400;
}

.post-info.active {
  color: hsla(215.83333333333334, 57.14%, 50.59%, 1.00);
}

.category {
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  font-family: Proximanova, sans-serif;
  font-size: 17px;
}

.category:hover {
  color: hsla(215.83333333333334, 57.14%, 50.59%, 1.00);
}

.category-container {
  margin-top: -15px;
}

.blog-list-hero-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.blog-list-information {
  margin-bottom: 0px;
  font-family: 'Proxima nova', sans-serif;
  color: hsla(233.33333333333337, 47.37%, 96.27%, 1.00);
  font-size: 16px;
  text-align: left;
}

.blog-post-listed-container {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 31%;
  height: 600px;
  max-width: 47%;
  margin: 10px;
  border-radius: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  box-shadow: 0 0 8px 1px hsla(230.4, 33.33%, 14.71%, 0.46);
  -webkit-transition: color 200ms ease-in-out, box-shadow 200ms ease-in-out;
  transition: color 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.blog-post-listed-container:hover * {
  cursor: pointer;
}

.blog-post-listed-container:hover h3 {
  color: hsla(215.83333333333334, 57.14%, 50.59%, 1.00);
}

.blog-post-listed-container.filler {
  max-height: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-shadow: none;
}

.post-list-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.blog-post-listed-image {
  height: 150px;
  min-height: 150px;
  background-position: 50% 20%;
  background-size: 350px;
}

.blog-post-listed-category {
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Proxima nova', sans-serif;
  color: hsla(215.83333333333334, 57.14%, 50.59%, 1.00);
  font-size: 16px;
  font-weight: 400;
}

.heading {
  margin-top: 0px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  font-family: Proximanova, sans-serif;
  color: hsla(230.4, 33.33%, 14.71%, 1.00);
  font-weight: 400;
}

.blog-post-listed-description {
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: Proximanova, sans-serif;
  color: hsla(230.4, 33.33%, 14.71%, 1.00);
}

.blog-post-listed-readtime {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-left: 10px;
  font-family: Proximanova, sans-serif;
  color: hsla(230.4, 33.33%, 14.71%, 1.00);
  font-size: 12px;
  font-weight: 700;
}

.readtime {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.blog-post-listed-readmore {
  margin-bottom: 0px;
  padding-right: 20px;
  padding-left: 10px;
  font-family: Roboto, sans-serif;
  color: hsla(233.33333333333337, 47.37%, 96.27%, 1.00);
  font-size: 14px;
}

.blog-post-listed-readmore:hover {
  color: hsla(215.83333333333334, 57.14%, 50.59%, 1.00);
}

.pagination-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.first-page {
  font-family: Proximanova, sans-serif;
  color: hsla(230.4, 33.33%, 14.71%, 1.00);
  text-decoration: none;
}

.pagination-link {
  min-width: 15px;
  margin-right: 1px;
  margin-left: 1px;
  border-bottom: 2px solid transparent;
  font-family: Proximanova, sans-serif;
  color: hsla(199.99999999999997, 19.35%, 12.16%, 0.44);
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}

.pagination-link.first-page {
  width: 40px;
  border-bottom: 2px solid transparent;
}

.pagination-link.first-page.clickable {
  border-bottom: 2px solid transparent;
}

.pagination-link.first-page.clickable:hover {
  border-bottom-color: hsla(142.85714285714286, 64.62%, 74.51%, 1.00);
}

.pagination-link.previous-page {
  width: 65px;
  margin-right: 0px;
  margin-left: 0px;
  border-bottom: 2px solid transparent;
  font-family: Proximanova, sans-serif;
  text-decoration: none;
}

.pagination-link.last-page {
  width: 40px;
}

.pagination-link.last-page.clickable:hover {
  border-bottom-color: hsla(142.85714285714286, 64.62%, 74.51%, 1.00);
}

.pagination-link.clickable:hover {
  border-bottom-color: hsla(142.85714285714286, 64.62%, 74.51%, 1.00);
  color: hsla(230.4, 33.33%, 14.71%, 1.00);
}

.pagination-link.page-number.clickable {
  min-width: 20px;
  margin-left: 1px;
}

.pagination-link.page-number.clickable:hover {
  border-bottom-color: hsla(142.85714285714286, 64.62%, 74.51%, 1.00);
}

.pagination-link.page-number.clickable.current {
  border-bottom-color: hsla(142.85714285714286, 64.62%, 74.51%, 1.00);
  color: hsla(199.99999999999997, 19.35%, 12.16%, 1.00);
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
}

.footer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  padding: 25px;
  background-color: #a3bee6;
}

.footer-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-right: 25px;
  padding-left: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media (max-width: 991px) {
  .category-block {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .blog-list-hero-container {
    padding-right: 5px;
    padding-left: 5px;
  }
  .blog-post-listed-container {
    width: 46.977%;
    border-style: none;
    border-width: 1px;
    background-color: hsla(233.33333333333337, 47.37%, 96.27%, 1.00);
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .37);
  }
  .blog-post-listed-container:hover {
    box-shadow: 0 1px 4px 3px rgba(0, 0, 0, .37);
  }
  .post-list-container {
    background-color: hsla(233.33333333333337, 47.37%, 96.27%, 1.00);
  }
  .blog-post-listed-image {
    border-style: none;
  }
  .readtime {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .blog-post-listed-readmore {
    color: #414a53;
  }
}

@media (max-width: 767px) {
  .blog-list-container {
    width: auto;
    height: auto;
    padding: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .blog-list-hero {
    padding-right: 40px;
    padding-left: 40px;
  }
  .blog-list-hero-heading {
    font-size: 28px;
  }
  .post-info {
    font-size: 12px;
  }
  .category {
    font-size: 14px;
  }
  .blog-post-listed-container {
    width: 45.68%;
    height: 370px;
    border-style: none;
    border-width: 1px;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .37);
  }
  .blog-post-listed-image {
    border-style: none;
  }
  .blog-post-listed-category {
    font-size: 14px;
  }
  .heading {
    margin-bottom: 0px;
    font-size: 17px;
  }
  .blog-post-listed-description.hidden {
    display: none;
  }
  .blog-post-listed-readtime {
    font-size: 10px;
  }
  .readtime {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .blog-post-listed-readmore {
    color: #414a53;
    font-size: 11px;
  }
}

@media (max-width: 479px) {
  .blog-list-container {
    padding: 12.5px 5px;
  }
  .blog-list-block {
    padding-right: 5px;
    padding-left: 5px;
  }
  .blog-list-hero {
    padding-right: 10px;
    padding-left: 10px;
  }
  .blog-list-hero-heading {
    font-size: 26px;
  }
  .category-block {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .post-info {
    font-size: 11px;
  }
  .category {
    font-size: 12px;
  }
  .blog-list-hero-container {
    padding-right: 5px;
    padding-left: 5px;
  }
  .blog-list-information {
    font-family: Proximanova, sans-serif;
    font-size: 12px;
    font-weight: 400;
  }
  .blog-post-listed-container {
    width: 100%;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .post-list-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .blog-post-listed-readmore {
    color: #414a53;
  }
  .pagination-link.first-page.clickable.hidden {
    display: none;
  }
  .pagination-link.previous-page.hidden {
    display: none;
  }
  .pagination-link.last-page.clickable.hidden {
    display: none;
  }
}