{% extends 'base.html' %}
{% block html_tags %}data-wf-page="5ce025600b5f0b89ff20b438" data-wf-site="5cde3bb593d00263212ab252"{% endblock %}
{% block title %}Get In Touch{% endblock %}
{% load static %}
{% block body %}
  <div data-w-id="e5ce5451-34b1-5331-a895-28718c4cbb6f" class="preloader-background">
    <img src="{% static 'images/gifs/preloader.gif' %}" data-w-id="e5ce5451-34b1-5331-a895-28718c4cbb70" alt="" class="image">
    <h4>Loading...</h4>
  </div>
  <div class="contact-section">
    <div class="contact-container w-container">
      <h1 data-w-id="d1c8eab1-5460-d0a1-15f9-eef8f77f8e59" style="opacity:0" class="contact-heading">Let&#x27;s Get in Touch</h1>
      <p data-w-id="b91dfd3d-27ef-03af-9f67-a06fe5749c1d" style="opacity:0" class="contact-content">I&#x27;m more than happy to answer any questions you may have. Please fill out the short form below and I&#x27;ll be in touch ASAP.</p>
      <div class="contact-form-block">
        <form action method="post" id="email-form" name="email-form" data-name="Email Form" data-w-id="64b41296-4951-47b6-9936-2532b2af6a6a" style="opacity:0;-webkit-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="contact-form">
          {% csrf_token %}
          <div class="contact-field-block">
	    {{form.from_name}}
          </div>
          <div class="contact-field-block">
	    {{form.subject}}
          </div>
          <div class="contact-field-block">
	    {{form.from_email}}
          </div>
          <div class="contact-field-block">
	    {{form.message}}
          </div>
          <input type="submit" value="Submit" data-wait="Please wait..." data-w-id="64b41296-4951-47b6-9936-2532b2af6a71" style="opacity:0" class="button form-submit dark-to-orange w-button"></form>
      </div>
    </div>
  </div>

  {% endblock %}
