{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Page Not Found</title>
        <link href="{% static 'images/icons/favicon.ico' %}" rel="shortcut icon"/>
        <link href="{% static 'css/src/errors.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'css/packages/webflow.css' %}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="error-block">
            <div class="error-container w-container" style="position:relative;z-index:999;">
		<h1 class="error-heading">Oops!</h1>
		<h3 class="error-subheading">This is embarassing.</h3>
		<p class="error-paragraph">It seems that this page, however you got here, doesn't exist.</p>
		<a href="/" class="error-return-btn">Go Home</a>
	    </div>
	    <ul class="circles">
		<li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
	</div>
    </body>
</html>
