
{% load static %}
<!DOCTYPE html>
<html {% block html_tags %}{% endblock %} lang="en" style="content: ''">

    <head>

	<!-- Favicon  -->
	<link href="{% static 'images/icons/favicon.ico' %}" rel="shortcut icon"/>

        <!-- Global site tag (gtag.js) - Google Analytics -->

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139838897-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-139838897-1');
        </script>

        <!-- Cookie Consent -->

        <link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"  rel="stylesheet" type="text/css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
 

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <title>Nate Moore | {% block title %}{% endblock %}</title>

        {% block head %}
        {% endblock %}

        <!-- Fonts -->

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700" rel="stylesheet" type='text/css'/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" type='text/css'/>
        <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css' />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type='text/css'/>

        <!-- CSS Packages  -->

        <link href="{% static 'css/packages/webflow.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{% static 'css/packages/normalize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

        <!-- CSS SRC -->

        <link href="{% static 'css/src/style.css' %}" type="text/css" rel="stylesheet"/>

        <!-- JQuery -->
 
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

        <!-- JS -->

        <!-- Cookie Consent -->

        <script>
        window.addEventListener("load", function(){
        window.cookieconsent.initialise({
            "palette": {
            "popup": {
                "background": "#d13c65",
                "text": "#f0eeeb"
            },
            "button": {
                "background": "#f0eeeb",
                "text": "#192125"
            }
            },
            "position": "bottom-right",
            "content": {
            "message": "This website uses cookies to ensure an optimal user experience. By using this website you consent to the use of cookies."
            }
        })});
        </script>
    </head>

    <body {% block body_tags %}{% endblock %}>
       
        <div data-collapse="medium" data-animation="default" data-duration="500" data-easing="ease-out-back" data-easing2="ease-in-back" data-w-id="23639229-8254-0470-e9b9-b92da0257353" class="navigation-bar w-nav">
            <div class="navigation-container w-container"><a href="index.html" class="navigation-brand w-nav-brand w--current"><img src="images/icon.svg" data-w-id="23639229-8254-0470-e9b9-b92da0257356" alt="" class="brand-logo"><h1 class="brand-name"><span class="brand-name-span">Nate</span> Moore</h1></a><a href="#" class="navigation-spacer w-nav-link"></a>
              <nav role="navigation" class="navigation-menu w-nav-menu"><a href="#" class="navigation-link w-nav-link">About</a>
                <div data-delay="500" data-w-id="23639229-8254-0470-e9b9-b92da0257360" class="w-dropdown">
                  <div class="navigation-link w-dropdown-toggle">
                    <div class="dropdown-icon w-icon-dropdown-toggle"></div>
                    <div class="dropdown-link-text">Portfolio</div>
                  </div>
                  <nav data-w-id="23639229-8254-0470-e9b9-b92da0257365" class="dropdown-list w-dropdown-list">
                    <div class="dropdown-column light">
                      <h1 class="dropdown-heading dark">See Templates</h1><a href="/portfolio/templates" class="dropdown-link-big dark">Learn more &gt;</a><img src="images/undraw_experience_design_eq3j.svg" alt="" class="dropdown-image"></div>
                    <div class="dropdown-column dark">
                      <h1 class="dropdown-heading light">See Projects</h1><a href="/portfolio/projects" class="dropdown-link-big light">Learn more &gt;</a><img src="images/undraw_online_page_cq94.svg" alt="" class="dropdown-image"></div>
                  </nav>
                </div><a href="/blog" class="navigation-link w-nav-link">Blog</a><a href="/contact" class="navigation-link w-nav-link">Contact</a></nav>
              <div class="mobile-menu-button w-nav-button">
                <div class="mobile-menu-icon w-icon-nav-menu"></div>
              </div>
            </div>
        </div>

        {% block body %} 
        {% endblock %}
        
        <div class="footer">
            <div class="footer-container w-container">
                <div class="footer-columns w-row">
                <div class="footer-col w-col w-col-4">
                    <h5 class="footer-heading">Contact</h5>
                    <a href="/contact" class="footer-link">Get In Touch</a>
                    <div class="footer-subsection">
                    <h5 class="footer-subheading">Details</h5>
                    <p class="footer-contact-info">Mobile: 0404 598 259</p>
                    <p class="footer-contact-info">Email: nate@natemoore.me</p>
                    </div>
                </div>
                <div class="footer-col middle-col w-col w-col-4">
                    <h5 class="footer-heading">Useful links</h5>
                    <a href="/" class="footer-link">Home</a>
                    <a href="/about-my-work" class="footer-link">About My Work</a>
                    <a href="/about-me" class="footer-link">About Me</a>
                    <a href="/blog" class="footer-link">Blog</a>
                    <div class="footer-subsection">
                    <h5 class="footer-subheading">Portfolio</h5>
                    <a href="/portfolio/mockups" class="footer-link">See Mockups</a>
                    <a href="/portfolio/projects" class="footer-link">See Projects</a>
                </div>
                </div>
                <div class="footer-col w-col w-col-4">
                    <h5 class="footer-heading">Social</h5>
                    <div class="div-block-7">
                        <img src="{% static 'images/icons/facebook-icon.svg' %}" alt="" class="social-icon">
                        <img src="{% static 'images/icons/twitter-icon.svg' %}" width="40" height="40" alt="" class="social-icon">
                        <img src="{% static 'images/icons/linkedin-icon.svg' %}" width="40" height="40" alt="" class="social-icon">
                        <img src="{% static 'images/icons/instagram-icon.svg' %}" width="40" height="40" alt="" class="social-icon"></div>
                </div>
                </div>
                <div class="footer-copyright-block"></div>
            </div>
        </div>
        
        {% block javascript %}
        {% endblock %}
        
    <script src="{% static 'js/packages/webflow.js' %}"></script>
    </body>

</html>
