{% extends 'base.html' %}
{% block html_tags %}data-wf-page="5cde3bb593d00210ca2ab253"{% endblock %}
{% block body_tags %}data-w-id="5cde3bb593d002488e2ab254" style="opacity:0"{% endblock %}
{% block title %}Home{% endblock %}
{% load static %}
{% block body %}
  <div data-w-id="e5ce5451-34b1-5331-a895-28718c4cbb6f" class="preloader-background">
    <img src="{% static 'images/gifs/preloader.gif' %}" data-w-id="e5ce5451-34b1-5331-a895-28718c4cbb70" alt="" class="image">
    <h4>Loading...</h4>
  </div>
  <div class="rocket-section">
    <img src="{% static 'images/svg/rocket_trail.svg' %}" data-w-id="85b9bd0f-7734-8da5-4f84-67f6f0c1ff18" style="-webkit-transform:translate3d(0, 500PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 500PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 500PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 500PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" class="rocket-trail">
    <img src="{% static 'images/svg/rocket.svg' %}" data-w-id="da2d9cc8-5e5e-4810-0c17-be3f68417685" style="-webkit-transform:translate3d(0, 1000PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 1000PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 1000PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 1000PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" class="rocket">
    <img src="{% static 'images/svg/rocket_smoke.svg' %}" data-w-id="9f4a297c-8bb9-ac2a-a445-3b6ca9edd03a" style="-webkit-transform:translate3d(0, 500PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 500PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 500PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 500PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" class="rocket-cloud">
  </div>
  <div class="hero-section">
    <div data-w-id="36be097d-ff06-3cd7-b397-1dddc507ed3a" class="hero-container w-container">
      <h1 id="w-node-f65a49627f19-ca2ab253" data-w-id="e8d4d832-9f51-8511-5ce1-f65a49627f19" style="opacity:0;-webkit-transform:translate3d(-500PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-500PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-500PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-500PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="hero-heading">Let&#x27;s <span class="index-landing-heading-span">grow</span> your business.</h1>
      <p id="w-node-da7cbae8e9ea-ca2ab253" data-w-id="6bff37fe-d88c-a02d-a871-da7cbae8e9ea" style="opacity:0;-webkit-transform:translate3d(-500PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-500PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-500PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-500PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="hero-text">As a small business, there is no better way to generate more leads, gain new clients, and get more conversions than through a great website. In fact, <strong class="bold-text">30%</strong> of consumers won&#x27;t even consider your business without one.</p>
      <a id="w-node-611cb06be100-ca2ab253" data-w-id="7ff2c64b-4031-cf4d-4d78-611cb06be100" style="opacity:0;-webkit-transform:translate3d(-500PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-500PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-500PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-500PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" href="/about-my-work" class="button purple-to-orange w-button">Learn More</a></div>
  </div>
  <div class="feature-section">
    <div class="feature-container w-container">
      <div class="feature-columns w-row">
        <div class="feature-column w-col w-col-6">
          <div id="w-node-ec8dae5dc8ea-ca2ab253" class="feature-card">
            <h1 data-w-id="5ed82393-fedc-a63e-7b3e-710e7624f539" style="opacity:0" class="feature-title">Let&#x27;s Make It <span class="feature-title-span">Easy</span></h1>
            <div class="feature-checklist w-row">
              <div class="feature-checklist-col w-col w-col-6">
                <div data-w-id="65dc542a-15b1-76d9-02fd-8df604945063" style="opacity:0" class="feature-list-block">
                  <img src="{% static 'images/icons/checkbox-blue-purple.svg' %}" width="25" alt="" class="feature-list-checkbox">
                  <p class="feature-list-text">Beautifully designed</p>
                </div>
                <div data-w-id="443d4f5b-309b-04be-5b3e-16f97f88192b" style="opacity:0" class="feature-list-block">
                  <img src="{% static 'images/icons/checkbox-pink-orange.svg' %}" width="25" alt="" class="feature-list-checkbox">
                  <p class="feature-list-text">Completely secure</p>
                </div>
              </div>
              <div class="feature-checklist-col w-col w-col-6">
                <div data-w-id="facbfa15-c02f-0c94-a106-a7891e321aea" style="opacity:0" class="feature-list-block">
                  <img src="{% static 'images/icons/checkbox-pink-yellow.svg' %}" width="25" alt="" class="feature-list-checkbox">
                  <p class="feature-list-text">Simply easy</p>
                </div>
                <div data-w-id="9084989d-0a9d-e16a-b687-c9e3ac193ea1" style="opacity:0" class="feature-list-block">
                  <img src="{% static 'images/icons/checkbox-pink-purple.svg' %}" width="25" alt="" class="feature-list-checkbox">
                  <p class="feature-list-text">Infinitely scalable</p>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-4ecc50424a3c-ca2ab253" data-w-id="b4bd8234-090d-17c2-dd89-4ecc50424a3c" style="opacity:0" class="feature-card with-background">
            <div class="card-title-container">
              <img src="{% static 'images/icons/charts_icon.svg' %}" alt="" class="feature-icon">
              <h2 class="feature-heading">Easy Analytics</h2>
            </div>
            <p class="feature-text">All of the most important information right at your fingertips. See all of the data you need to build more effective conversion funnels.</p>
          </div>
          <div id="w-node-17fb997835b8-ca2ab253" data-w-id="9ad46558-4788-28ee-586b-17fb997835b8" style="opacity:0" class="feature-card with-background">
            <div class="card-title-container">
              <img src="{% static 'images/icons/dashboard_icon.svg' %}" alt="" class="feature-icon">
              <h2 class="feature-heading">Easy CMS</h2>
            </div>
            <p class="feature-text">A powerful content management system built on the best framework in the industry. Deploy new content with painlessly, just fill out some fields and go.</p>
          </div>
        </div>
        <div class="feature-column w-col w-col-6">
          <div id="w-node-e79c60bd09ca-ca2ab253" data-w-id="4f7b249c-69e8-89a9-a879-e79c60bd09ca" style="opacity:0" class="feature-card with-background">
            <div class="card-title-container">
              <img src="{% static 'images/icons/shopping_icon.svg' %}" alt="" class="feature-icon">
              <h2 class="feature-heading">Easy-Commerce</h2>
            </div>
            <p class="feature-text">Streamlined e-commerce solutions accessible right from your CMS. Zero setup, zero problems. Entirely PCI DSS compliant.</p>
          </div>
          <div id="w-node-37ad9d71a674-ca2ab253" data-w-id="7405fc7d-578c-bb5a-7a44-37ad9d71a674" style="opacity:0" class="feature-card with-background">
            <div class="card-title-container">
              <img src="{% static 'images/icons/scalability_icon.svg' %}" alt="" class="feature-icon">
              <h2 class="feature-heading">Easy Scalability</h2>
            </div>
            <p class="feature-text">Built on the same framework that powers the likes of Spotify, Disqus, and Instagram, your site will scale easily as your business and your needs grow.</p>
          </div>
          <div id="w-node-96d0e2dadc32-ca2ab253" data-w-id="8775cdce-4a50-62af-cc13-96d0e2dadc32" style="opacity:0" class="feature-card with-background">
            <div class="card-title-container">
              <img src="{% static 'images/icons/security_icon.svg' %}" alt="" class="feature-icon">
              <h2 class="feature-heading">Easy Security</h2>
            </div>
            <p class="feature-text">Rest easy knowing that your site is safe from <a href="/blog/post/malicious-web-attacks">CSRF, XSS, SQL injections, clickjacking</a> and many other malicious attacks, as well as being entirely HTTPS certified.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overview">
    <div class="overview-container w-container">
      <h3 data-w-id="f7381b62-f95c-014a-c3c1-b7a0eb2e901a" style="opacity:0" class="overview-title">Overview</h3>
      <h1 data-w-id="1a0acb8b-21c5-6a94-07a4-fad872e1a005" style="opacity:0" class="overview-big-text">Enhancing your web presence</h1>
      <p data-w-id="754b17f5-7c6f-37c2-c24d-567a77a6c984" style="opacity:0" class="overview-text">Do you care about silly things like: higher customer retention rates, improved customer conversions, better brand recognition, and building trust with your customers? If so, then you probably want to have a good website. Luckily for you, building great websites is what I do. Every website I create is tailored specifically for your audience, built entirely from the ground up with customer experience in mind. <br><span class="overview-text-highlight"></span></p>
      <a data-w-id="f9eccfaa-340c-b72f-ad23-a0dee94ef585" style="opacity:0" href="/contact" class="button dark-to-pink w-button">Get Started</a></div>
  </div>
  <div data-w-id="0a6c55b2-0547-ca82-5ff3-8c6804957d20" style="opacity:0" class="pretty-bar">
    <div class="pretty-container w-container">
      <h1 data-w-id="b52ccd59-d5e7-9d9b-85ce-33e27dd39e77" style="opacity:0" class="pretty-heading">Creating beautiful, <br>functional websites is what I do</h1>
      <a data-w-id="ea274933-cff2-73e6-1518-45da486e27c2" style="opacity:0" href="/contact" class="button clear-to-blue w-button">Get In Touch</a></div>
  </div>
  {% block javascript %}
  <!--  Scripts -->
  
  {% endblock %}

  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  {% endblock %}

